body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: linear-gradient(to bottom, #e3fdfd, #ffe6fa);
    padding: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1f2933;
    padding: 15px 25px;
    border-radius: 15px;
    margin-bottom: 30px;
}

.logo {
    font-size: 26px;
    font-weight: bold;
    color: #ffffff;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.cart {
    font-size: 24px;
    color: #ffffff;
}

.grid {
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin: 30px auto;
    align-items: stretch;
}

.product {
    padding: 25px;
    text-align: center;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 420px;
}

.c1 {
    background: #f5b5bc;
}

.c2 {
    background: #b9dcf2;
}

.c3 {
    background: #a7dfc1;
}

.c4 {
    background: #f3d08a;
}

.pimg {
    width: 100%;
    max-width: 180px;
    height: 180px;
    object-fit: cover;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    margin: 0 auto;
}

.pname {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.price {
    font-size: 19px;
    font-weight: bold;
}

button {
    background-color: #ffd54f;
    color: black;
    width: 130px;
    height: 45px;
    margin-top: auto;
    font-size: 17px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}
